//Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap');
//variables
$bg-logo-color: #f6e5f0;
$bg-btn: #ff9cdc;
//=====Breakpoint=====
$breakpoints: (
	mobile: 599px,
	tablet: 768px
	);
//mixins
@mixin mobile-only {
	@media screen and (max-device-width: map-get($breakpoints, mobile)) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-device-width: map-get($breakpoints, tablet)) {
		@content;
	}
}
@mixin MLscreens {
	@media screen and (min-device-width: map-get($breakpoints, tablet)) {
		@content;
	}
}

@mixin button {
	color: inherit;
	border: 1px solid transparent;
	border-radius: 1rem;
	padding: .375rem 1rem;
	background-color: $bg-btn;
}

//layout
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $bg-logo-color;
		padding-left: 50px;
		padding-right: 50px;
		@include mobile-only {
			padding-left: 10px;
			padding-right: 10px;
		}
		.logo {
			width: 25vw;
			@include mobile-only {
				width: 70vw; 
			}
		}
		.cart-place {
			display: flex;
			flex-direction: column;
			align-items: center;
			.cart-link {
				text-decoration: none;
				height: 6vh;
				svg {
					width: 3vw;
					height: 6vh;
					margin: auto;
					@include mobile-only {
						width: 8vw;
						height: 8vh;
					}
				}
			}
			.badge {
				font-size: .8rem;
				margin-top: 5px;
			}
		}
	}
	main {
		flex: 1;
		margin-top: 5rem;
		margin-bottom: 5rem;
		&.index {
			margin-bottom: 3rem;
			text-align: center;
			h1 {
				margin-top: 0px;
				margin-bottom: 5rem;
				font-family: 'Playfair Display', serif;
				font-size: 3rem;
				@include mobile-only {
					font-size: 2.5rem;
					margin-top: 0;
					margin-bottom: 3rem;
				}
			}
			.cards-container {
				display: flex;
				flex-direction: column;
				flex-flow: row wrap;
				justify-content: center;
				article {	
					margin-bottom: 2rem;
					margin-right: 1rem;
					margin-left: 1rem;
					padding-bottom: 20px;;
					position: relative;
					display: flex;
					flex-direction: column;
					width: 18rem;
					word-wrap: break-word;
					background-color: #fafafa;					background-clip: border-box;
					border: 1px solid #f2f2f2;
					border-radius: .25rem;
					.picture {
						width: 100%;
						height: 200px;
					}
					.info {
						flex: 1 1 auto;
						padding: 1.25rem;
						a {
							text-decoration: none;
							color: inherit;
						}
						p {
							margin-top: 5px;
							margin-bottom: 5px;
						}
					}
					.article-price {
						margin-bottom: 10px;
					}
					.article-footer {
						text-align: center;
						padding: .75rem 1.25rem;
						margin-bottom: .75rem;
						.btn {
							text-decoration: none;
							@include button;
						}
					}
				}
			}
		}
		&.item {
			.item-card {
				margin: 30px auto;
				max-width: 80vw;
				display: grid;
				grid-template-columns: 1fr 1.5fr;
				border-radius: .25rem;
				@include mobile-only {
					grid-template-columns: 1fr;
				}
				.item-picture {
					grid-column: 1/2;
					text-align: center;
					img {
						width: 100%;
						border-radius: .25rem;
						@include mobile-only {
							width: 70vw;
							height: auto;
						}
					}
				}
				.item-info {
					grid-column: 2/3;
					padding-left: 20px;
					display: flex;
					flex-direction: column;
					@include mobile-only {
						grid-column: 1/2;
						text-align: center;
					}
					h1 {
						margin-top: 5px;
						margin-bottom: 0;
					}
					form {
						margin-bottom: 20px;
					}
					button {
						flex-basis: content;
						@include button;
						margin-top: 20px;
						cursor: pointer;
						@include MLscreens {
							width: 15rem;
						}
					}
				}
			}
		}
		&.cart {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			.heading {
				width: 80%;
				border-bottom: 1px solid #D0D0D0;
				h1 {
					margin: 0;
					margin-bottom: 2rem;;
				}
			}
			#cart-items-list {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				padding-bottom: 2rem;
				border-bottom: 1px solid #D0D0D0;
				.cart-item {
					width: 80vw;
					margin-top: 2rem;
					display: grid;
					grid-template-columns: 1.5fr 2.5fr 1.5fr 1.5fr 1fr .5fr;
					text-align: center;
					align-items: center;
					@include mobile-only {
						grid-template-columns:  2fr 2fr 1fr;
						grid-template-areas: 
						'image controls btn'
						'name price .'
						'color . .';
						width: 100vw;
						font-size: 0.8em;
					}
					img {
						max-width: 100px;
						@include mobile-only{
							width: 75px;
						}
					}
					.image {
						@include mobile-only{
							grid-area: image;
							margin: auto;
						}
					}
					.name {
						@include mobile-only{
							grid-area: name;
							margin-top: 8px;
							margin-bottom: 0px;
						}						
					}
					.color {
						@include mobile-only{
							grid-area: color;
							margin-top: 5px;
						}
					}
					.controls {
						margin: auto;
						display: flex;
						justify-content: space-between;
						.plus, .minus {
							cursor: pointer;
							@include button;
							border-radius: .25rem;
							padding: .375rem .75rem;
							background-color: $bg-logo-color;
							font-weight: bold;
						}
						.plus {
							padding: .375rem .6rem;
						}
						.quantity {
							margin: auto;
							margin-left: 1rem;
							margin-right: 1rem;
						}
						@include mobile-only {
							grid-area: controls;
							align-items: center;
							justify-content: center;
						}
					}
					.price {
						@include mobile-only {
							grid-area: price;
							margin: auto;
						}
					}
					.remove-btn {
						cursor: pointer;
						justify-self: center;
						@include button;
						border-radius: .25rem;
						padding: .375rem .75rem;
						background-color: $bg-logo-color;
						font-weight: bold;
						@include mobile-only{
							grid-area: btn;
							margin: auto;
						}
					}
				}
			}
			#cart-total {
				width: 80%;
				#total-amount {
					text-align: center;
				}
			}
			.browse-items {
				text-decoration: none;
				@include button;
			}
			.toggle-div {
				margin-top: 30px;
				.toggle-button {
					@include button;
					cursor: pointer;
				}
			}
			.order-form {
				width: 50vw;
				@include tablet {
					width: 100vw;
				}
				form {
					margin: auto;
					margin-top: 100px;
					display: flex;
					flex-direction: column;
					align-items: center;
					@include tablet {
						width: 90vw;
					}
					label {
						align-self: flex-start;
						margin-top: 1.5rem;
					}
					input {
						width: 100%;
						margin-top: 1rem;
					}
					#send-btn {
						cursor: pointer;
						margin-top: 2rem;
						@include button;
						width: 20vw;
						@include tablet {
							width: 50vw;
						}
					}
				}
			}
		}
		&.order {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
			@include mobile-only {
				grid-template-columns: 1fr 90% 1fr;
			}
			.order-info {
				grid-column: 2/3;
				h1 {
					margin-top: 0;
				}
			}
			.continue-shopping {
				grid-column: 2/3;
				margin: auto;
				margin-top: 3rem;
				margin-bottom: .3rem;
				.browse-items {
					text-decoration: none;
					@include button;
				}
			}
		}
	}
	footer {
		background-color: $bg-logo-color;
		height: 50px;
		flex-shrink: 0;
		nav {
			height: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			a {
				color: inherit;
			}
		}
	}
}
