@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif; }
  body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6e5f0;
    padding-left: 50px;
    padding-right: 50px; }
    @media screen and (max-device-width: 599px) {
      body header {
        padding-left: 10px;
        padding-right: 10px; } }
    body header .logo {
      width: 25vw; }
      @media screen and (max-device-width: 599px) {
        body header .logo {
          width: 70vw; } }
    body header .cart-place {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body header .cart-place .cart-link {
        text-decoration: none;
        height: 6vh; }
        body header .cart-place .cart-link svg {
          width: 3vw;
          height: 6vh;
          margin: auto; }
          @media screen and (max-device-width: 599px) {
            body header .cart-place .cart-link svg {
              width: 8vw;
              height: 8vh; } }
      body header .cart-place .badge {
        font-size: .8rem;
        margin-top: 5px; }
  body main {
    flex: 1;
    margin-top: 5rem;
    margin-bottom: 5rem; }
    body main.index {
      margin-bottom: 3rem;
      text-align: center; }
      body main.index h1 {
        margin-top: 0px;
        margin-bottom: 5rem;
        font-family: 'Playfair Display', serif;
        font-size: 3rem; }
        @media screen and (max-device-width: 599px) {
          body main.index h1 {
            font-size: 2.5rem;
            margin-top: 0;
            margin-bottom: 3rem; } }
      body main.index .cards-container {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center; }
        body main.index .cards-container article {
          margin-bottom: 2rem;
          margin-right: 1rem;
          margin-left: 1rem;
          padding-bottom: 20px;
          position: relative;
          display: flex;
          flex-direction: column;
          width: 18rem;
          word-wrap: break-word;
          background-color: #fafafa;
          background-clip: border-box;
          border: 1px solid #f2f2f2;
          border-radius: .25rem; }
          body main.index .cards-container article .picture {
            width: 100%;
            height: 200px; }
          body main.index .cards-container article .info {
            flex: 1 1 auto;
            padding: 1.25rem; }
            body main.index .cards-container article .info a {
              text-decoration: none;
              color: inherit; }
            body main.index .cards-container article .info p {
              margin-top: 5px;
              margin-bottom: 5px; }
          body main.index .cards-container article .article-price {
            margin-bottom: 10px; }
          body main.index .cards-container article .article-footer {
            text-align: center;
            padding: .75rem 1.25rem;
            margin-bottom: .75rem; }
            body main.index .cards-container article .article-footer .btn {
              text-decoration: none;
              color: inherit;
              border: 1px solid transparent;
              border-radius: 1rem;
              padding: .375rem 1rem;
              background-color: #ff9cdc; }
    body main.item .item-card {
      margin: 30px auto;
      max-width: 80vw;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      border-radius: .25rem; }
      @media screen and (max-device-width: 599px) {
        body main.item .item-card {
          grid-template-columns: 1fr; } }
      body main.item .item-card .item-picture {
        grid-column: 1/2;
        text-align: center; }
        body main.item .item-card .item-picture img {
          width: 100%;
          border-radius: .25rem; }
          @media screen and (max-device-width: 599px) {
            body main.item .item-card .item-picture img {
              width: 70vw;
              height: auto; } }
      body main.item .item-card .item-info {
        grid-column: 2/3;
        padding-left: 20px;
        display: flex;
        flex-direction: column; }
        @media screen and (max-device-width: 599px) {
          body main.item .item-card .item-info {
            grid-column: 1/2;
            text-align: center; } }
        body main.item .item-card .item-info h1 {
          margin-top: 5px;
          margin-bottom: 0; }
        body main.item .item-card .item-info form {
          margin-bottom: 20px; }
        body main.item .item-card .item-info button {
          flex-basis: content;
          color: inherit;
          border: 1px solid transparent;
          border-radius: 1rem;
          padding: .375rem 1rem;
          background-color: #ff9cdc;
          margin-top: 20px;
          cursor: pointer; }
          @media screen and (min-device-width: 768px) {
            body main.item .item-card .item-info button {
              width: 15rem; } }
    body main.cart {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      body main.cart .heading {
        width: 80%;
        border-bottom: 1px solid #D0D0D0; }
        body main.cart .heading h1 {
          margin: 0;
          margin-bottom: 2rem; }
      body main.cart #cart-items-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
        border-bottom: 1px solid #D0D0D0; }
        body main.cart #cart-items-list .cart-item {
          width: 80vw;
          margin-top: 2rem;
          display: grid;
          grid-template-columns: 1.5fr 2.5fr 1.5fr 1.5fr 1fr .5fr;
          text-align: center;
          align-items: center; }
          @media screen and (max-device-width: 599px) {
            body main.cart #cart-items-list .cart-item {
              grid-template-columns: 2fr 2fr 1fr;
              grid-template-areas: 'image controls btn' 'name price .' 'color . .';
              width: 100vw;
              font-size: 0.8em; } }
          body main.cart #cart-items-list .cart-item img {
            max-width: 100px; }
            @media screen and (max-device-width: 599px) {
              body main.cart #cart-items-list .cart-item img {
                width: 75px; } }
          @media screen and (max-device-width: 599px) {
            body main.cart #cart-items-list .cart-item .image {
              grid-area: image;
              margin: auto; } }
          @media screen and (max-device-width: 599px) {
            body main.cart #cart-items-list .cart-item .name {
              grid-area: name;
              margin-top: 8px;
              margin-bottom: 0px; } }
          @media screen and (max-device-width: 599px) {
            body main.cart #cart-items-list .cart-item .color {
              grid-area: color;
              margin-top: 5px; } }
          body main.cart #cart-items-list .cart-item .controls {
            margin: auto;
            display: flex;
            justify-content: space-between; }
            body main.cart #cart-items-list .cart-item .controls .plus, body main.cart #cart-items-list .cart-item .controls .minus {
              cursor: pointer;
              color: inherit;
              border: 1px solid transparent;
              border-radius: 1rem;
              padding: .375rem 1rem;
              background-color: #ff9cdc;
              border-radius: .25rem;
              padding: .375rem .75rem;
              background-color: #f6e5f0;
              font-weight: bold; }
            body main.cart #cart-items-list .cart-item .controls .plus {
              padding: .375rem .6rem; }
            body main.cart #cart-items-list .cart-item .controls .quantity {
              margin: auto;
              margin-left: 1rem;
              margin-right: 1rem; }
            @media screen and (max-device-width: 599px) {
              body main.cart #cart-items-list .cart-item .controls {
                grid-area: controls;
                align-items: center;
                justify-content: center; } }
          @media screen and (max-device-width: 599px) {
            body main.cart #cart-items-list .cart-item .price {
              grid-area: price;
              margin: auto; } }
          body main.cart #cart-items-list .cart-item .remove-btn {
            cursor: pointer;
            justify-self: center;
            color: inherit;
            border: 1px solid transparent;
            border-radius: 1rem;
            padding: .375rem 1rem;
            background-color: #ff9cdc;
            border-radius: .25rem;
            padding: .375rem .75rem;
            background-color: #f6e5f0;
            font-weight: bold; }
            @media screen and (max-device-width: 599px) {
              body main.cart #cart-items-list .cart-item .remove-btn {
                grid-area: btn;
                margin: auto; } }
      body main.cart #cart-total {
        width: 80%; }
        body main.cart #cart-total #total-amount {
          text-align: center; }
      body main.cart .browse-items {
        text-decoration: none;
        color: inherit;
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: .375rem 1rem;
        background-color: #ff9cdc; }
      body main.cart .toggle-div {
        margin-top: 30px; }
        body main.cart .toggle-div .toggle-button {
          color: inherit;
          border: 1px solid transparent;
          border-radius: 1rem;
          padding: .375rem 1rem;
          background-color: #ff9cdc;
          cursor: pointer; }
      body main.cart .order-form {
        width: 50vw; }
        @media screen and (max-device-width: 768px) {
          body main.cart .order-form {
            width: 100vw; } }
        body main.cart .order-form form {
          margin: auto;
          margin-top: 100px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          @media screen and (max-device-width: 768px) {
            body main.cart .order-form form {
              width: 90vw; } }
          body main.cart .order-form form label {
            align-self: flex-start;
            margin-top: 1.5rem; }
          body main.cart .order-form form input {
            width: 100%;
            margin-top: 1rem; }
          body main.cart .order-form form #send-btn {
            cursor: pointer;
            margin-top: 2rem;
            color: inherit;
            border: 1px solid transparent;
            border-radius: 1rem;
            padding: .375rem 1rem;
            background-color: #ff9cdc;
            width: 20vw; }
            @media screen and (max-device-width: 768px) {
              body main.cart .order-form form #send-btn {
                width: 50vw; } }
    body main.order {
      display: grid;
      grid-template-columns: 1fr 60% 1fr; }
      @media screen and (max-device-width: 599px) {
        body main.order {
          grid-template-columns: 1fr 90% 1fr; } }
      body main.order .order-info {
        grid-column: 2/3; }
        body main.order .order-info h1 {
          margin-top: 0; }
      body main.order .continue-shopping {
        grid-column: 2/3;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: .3rem; }
        body main.order .continue-shopping .browse-items {
          text-decoration: none;
          color: inherit;
          border: 1px solid transparent;
          border-radius: 1rem;
          padding: .375rem 1rem;
          background-color: #ff9cdc; }
  body footer {
    background-color: #f6e5f0;
    height: 50px;
    flex-shrink: 0; }
    body footer nav {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      body footer nav a {
        color: inherit; }
